// Color
$primary: #1cc2ff;
$toska: #4bfad7;
$black: #242424;
$dark: $black;
$body-color: $black;
$light: #f4f8fa;
$secondary: #757575;
$link-color: $primary;
// Typography
$font-family-sans-serif: "Poppins", sans-serif !default;
$font-weight-bolder: 800;
$font-weight-semibold: 500;
// Breakpoint
$xsm: 425px;
